<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Page3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  page3 works!
</ion-content>

<ion-tabs>
 
  <ion-tab-bar slot="bottom">
 
    <ion-tab-button tappable routerLink="/menu/first/tabs/tab1" routerDirection="root" tab="tab1">
      <ion-icon name="sunny"></ion-icon>
      <ion-label>Tab 1</ion-label>
    </ion-tab-button>
 
    <ion-tab-button tappable routerLink="/menu/first/tabs/tab2" routerDirection="root" tab="tab2">
      <ion-icon name="moon"></ion-icon>
      <ion-label>Tab 2</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>